@import url('../vendor/normalize.css');
@font-face {
    src: url('../fonts/CieSans-Book.otf');
    font-family: 'CieSans';
}
@keyframes scroll-modal {
    from {
        transform: translate(0, 100vh);
    }
    to {
        transform: translate(0, 0);
    }
}
.main {
    position: relative;
    font-family: 'CieSans';
}
.header {
    opacity: 1;
}
.header__container {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    max-width: 100%;
    background-color: #737378;
}
.header__title {
    margin: 0;
    font-size: 10vw;
    line-height: 70%; 
    background-color: #737378;
    text-transform: uppercase;
    text-align: center;
    
}
.header__block-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 15px;
}
.header__subtitle {
    font-size: 36px;
    line-height: 43px;
    font-weight: normal;
    text-align: center;
    flex-basis: 85%;
    margin: 0;
    

}
.header__link {
    font-size: 36px;
    line-height: 43px;
    text-align: right;
}

.visual {
    display: flex;
    align-items: flex-end;
    background-image: url('../image/visual.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 100vh;
    
}
.visual__button {       
    width: 100%;
    height: 55px;
    outline: none;
    cursor:pointer;
    font-size: 36px;
    line-height: 43px;
    background-color: #87878C;
    border: none;
    text-transform: uppercase;

}
.modal {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100vh;
    opacity: 1;   
    display: none;
    /* animation: scroll-modal 3s ease-in-out 1 normal forwards running; */
}
.modal:target {
    display: block;
    animation: scroll-modal 1s ease-in 1 normal forwards running;
    /* pointer-events: none; */
}
.modal__head {
    height: 10vh;
    background-color: #000;
    padding: 10px 25px;
}
.modal__title {
    margin: 0;
    font-size: 36px;
    line-height: 43px;
    color: #737378;
    font-weight: normal;
}
.modal__subtitle {
    margin: 0;
    font-size: 36px;
    line-height: 43px;
    color: #737378;
    font-weight: normal;
}
.modal__main {
    height: calc(90vh - 55px);
    background-color: #737378;
    padding: 41px 30px 0;
}
.modal__about {
    max-width: 1660px;
    font-size: 36px;
    line-height: 47px;
    font-weight: normal;
}
.modal__adress {
    margin-top: 90px;
    max-width: 600px;
    font-size: 36px;
    line-height: 47px;
    font-weight: normal;
}
.modal__button {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 55px;
    outline: none;
    cursor: pointer;
    font-size: 36px;
    line-height: 43px;
    background-color: #87878C;
    border: none;
    text-transform: uppercase;

}
.open {
    width: 100%;
}