@import url('../vendor/normalize.css');
@font-face {
    src: url('../fonts/CieSans-Book.otf');
    font-family: 'CieSans';
}
@keyframes scroll-modal {
    from {
        transform: translate(0, 100vh);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes reverse-scroll-modal {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 100vh);
    }
}
.main {
    position: relative;
    font-family: 'CieSans';
}
.header {
    opacity: 1;
}
.header__container {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    max-width: 100%;
    background-color: #737378;
}
.header__title {
    margin: 0;
    font-size: 10vw;
    line-height: 70%; 
    background-color: #737378;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    
}
.header__block-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 15px;
}
.header__subtitle {
    font-size: 36px;
    line-height: 43px;
    font-weight: normal;
    text-align: center;
    flex-basis: 85%;
    margin: 0;
    

}
.header__link {
    font-size: 36px;
    line-height: 43px;
    text-align: right;
}

.visual {
    display: flex;
    align-items: flex-end;
    background-image: url('../image/visual.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 100vh;
    
}
.visual__button {       
    width: 100%;
    height: 55px;
    outline: none;
    cursor:pointer;
    font-size: 36px;
    line-height: 43px;
    background-color: #737378;
    border: none;
    text-transform: uppercase;
    text-align: center;

}
.modal {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100vh;
    opacity: 1;    
    display: none;   
 }

.modal:target {
    display: block;
    animation: scroll-modal 1s ease-in 1 normal forwards running;    
}
.modal:not(:target) {    
    animation: reverse-scroll-modal 1s ease-in 1 normal forwards running;  
    display: block;
     
}
.modal__head {
    height: 10vh;
    background-color: #000;
    padding: 10px 25px;
}
.modal__title {
    margin: 0;
    font-size: 36px;
    line-height: 43px;
    color: #737378;
    font-weight: normal;
}
.modal__subtitle {
    margin: 0;
    font-size: 36px;
    line-height: 43px;
    color: #737378;
    font-weight: normal;
}
.modal__main {
    height: calc(90vh - 55px);
    background-color: #737378;
    padding: 41px 30px 0;
}
.modal__about {
    max-width: 1660px;
    font-size: 36px;
    line-height: 47px;
    font-weight: normal;
}
.modal__adress {
    margin-top: 90px;
    max-width: 600px;
    font-size: 36px;
    line-height: 47px;
    font-weight: normal;
}
.modal__button {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 55px;
    outline: none;
    cursor: pointer;
    font-size: 36px;
    line-height: 43px;
    background-color: #737378;
    border: none;
    text-transform: uppercase;
    text-align: center;
}
.represent__container_one {
    display: flex;
    flex-direction: column;
    background-color: #737378;
    width: 100%;
    padding-bottom: 43px;

}
.represent__container_two {
    width: 100%;
    height: 100vh;
    background-color: #E1234556;
}
.represent__container_three {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background-color: #737378;
    
}
.represent__container_information {
    height: 120px;
    background-color: #737378;
}
.represent__title {
    line-height: 215px;   
    margin: 0;
    font-weight: normal;    
}
.represent__information-title {
    margin: 0;
    font-size: 36px;
    line-height: 43px;
    font-weight: normal;
}
.represent__information-subtitle {
    margin: 0;
    font-size: 36px;
    line-height: 43px;
    font-weight: normal;
}
.represent__title_one {
    font-size: 283px; 
    
}
.represent__title_two {
    font-size: 243px;     
}
.represent__subtitle {
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    margin: 43px auto 0;
    cursor: pointer;        
}
.represent__adress {   
    max-width: 600px;
    font-size: 36px;
    line-height: 43px;
    font-weight: normal;
    padding-bottom: 135px;
    padding-left: 30px;
}
.represent__copyright {    
    max-width: 200px; 
    font-size: 26px;
    line-height: 31px;
    font-weight: normal;
    padding-left: 30px;
    padding-bottom: 35px;
}
.represent__block-subtitle {
    position: relative;
    margin: 0 auto;
}
.represent__block-subtitle-hide {       
    position: absolute;
    bottom: 0;
    /* background-color: #737378; */
    background-color: rgb(61, 61, 182);
    margin: 0 auto;     
    opacity: 0; 
}
/* .represent__subtitle_hide {
    opacity: 1;
} */
.represent__block-subtitle-hide:target {
    opacity: 1;
    cursor: default;
}

.represent__subtitle_hide {
    margin: 0;
    cursor: default;
}